@charset "UTF-8";
@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bg_light {
  background-color: rgb(255, 0, 0);
}

#botonera {
  margin-top: 20px;
}
#botonera img {
  width: 100px;
}
#botonera ul li a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2%;
  transition: background-size 0.7s;
}
#botonera ul li a:hover {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-size: 100% 2px;
}

h1 {
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
  animation: textAlpha;
  animation-duration: 2s;
}

h2 {
  font-size: 2, 5em;
}

h1, h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

main section div figure {
  display: inline-block;
  margin-left: 40px;
}
main section div figure figcaption {
  margin-left: 0px;
}
main section div figure a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
main section div figure a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

#productos .galeria {
  display: flex;
  margin-top: 50px;
}
#productos .galeria figure {
  text-align: center;
  margin: 20px;
  margin-bottom: 50px;
}
#productos .galeria figure img {
  width: 250px;
  margin-left: 80px;
  margin-right: 80px;
}

.justify-content {
  justify-content: center;
}

.categoria {
  margin-top: 60px;
  font-size: 4em;
}

.categoria_imgniño {
  width: 200px;
  margin-left: 25px;
  margin-right: 50px;
}

.rounded {
  background-color: rgb(255, 0, 0);
  margin-bottom: 18px;
}

.logo_footer {
  width: 70px;
}

.copyright, .list-unstyled {
  margin-top: 18px;
}

footer div ul li a {
  color: rgb(0, 0, 0);
}

footer div div p a {
  color: rgb(0, 0, 0);
}

.header_img {
  width: 100%;
  padding-bottom: 30px;
  height: 400px;
  object-fit: cover;
}

.header_img {
  width: 100%;
  padding-bottom: 30px;
  height: 400px;
  object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}
#notfound .notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}
#notfound .notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}
#notfound .notfound .notfound-404 h2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
}

/*# sourceMappingURL=main.css.map */
